@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@600&family=Poppins:wght@100;200&family=Satisfy&family=Tinos&family=Work+Sans:wght@200&display=swap');

.searchSection {
    font-family: Montserrat;
    margin: 5%;
}

.searchSection .searchCards {
    display: flex;
    flex-direction: row;
}

.schoolcard {
    width: 600px;
    height: 180px;
    background-color: white;
    margin-bottom: 5%;
    border: black solid 1px;
    margin: 2%;
    border-radius: 25px;
}

.schoolcard h2 {
    text-align: left;
    margin-left: 4%;
    margin-bottom: auto;
}

.schoolcard p {
    text-align: left;
    margin-left: 4%;
    font-size: 12px;
}

.searchbutton {
    border-color: #acacac;
    padding: 8px;
    color: #acacac;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 14px;
    border-radius: 25px;
    margin-left: 3%;
}

.schoolcard .markerSection p {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
}

.schoolcard .i {
    text-align: center;
    color: #acacac;
    transition: 0.5s;
    font-size: 1rem;
    margin-left: 10px;
    display: inline-block;
    margin-left: 5%;
}